<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>basic</title>
</head>
<body>
    <ul>
        <li><a href="city/Beijing">Hello Beijing</a></li>
        <li><a href="city/Shenzhen">Hello Shenzhen</a></li>
        <li><a href="form">form</a></li>
        <li><a href="filters">filters</a></li>
        <li><a href="css_js">css and js</a></li>
        <li><a href="go_through_list">go through list</a></li>
        <li><a href="go_through_dict">go through dict</a></li>
        <li><a href="condition/李白">condition 李白</a></li>
        <li><a href="condition/露娜">condition 露娜</a></li>
    </ul>
</body>
</html>
